<%- include ('layout/header') %>
<br />
<br />
<img src="/public/img/error.png" style="width: 90px;">
<span>We're lost in space</span>
<br />
<br />
<h2><%= error.status %> | <%= error.message %></h2>
<br />
<a href="/">← Back to home</a>
<%- include ('layout/footer') %>



